<% include unit/top.ejs %>
<% include unit/head.ejs %>
<header class="home_top">
    <div>
    <span>Hi，欢迎来到欧派商城! <a href='/login'>请登录</a> <a href="">免费注册</a></span>
    <ul>
        <li>客服电话:400-884-1869</li>
    </ul>
    </div>
</header>
<article class="home_title">
    <div class="home_logo">
        <a href="#"><img src="/img/logo.png"></a>
    </div>
    <div class="home_go">
        <input type="text">
        <button type="button">GO</button>
    </div>
</article>
<nav class="home_nav">
    <div class="home_nav_left">
        全部分类
    </div>
    <ul class="home_nav_right">
        <li>首页</li>
        <li>全屋搭配</li>
        <li>晒家分享</li>
        <li>实体门店</li>
        <li>实体门店</li>
        <li>实体门店</li>
        <li>实体门店</li>
    </ul>
</nav>
<article class="home_list_nav">
    <span id="nas">
        <div class="home_list_nav_left">
            <ul id="nav">
                <li>厨房</li>
                <div class="fen"></div>
                <li>客厅</li>
                <div class="fen"></div>
                <li>书房</li>
                <div class="fen"></div>
                <li>儿童室</li>
                <div class="fen"></div>
                <li>卧室</li>
            </ul>
        </div>
        <div id="na" class="home_list_nav_right" style="display: none">
            <div class="home_list_nav_right_text">
                <div>
                    <h3>风格</h3>
                    <ul>
                        <li>sdsdsd</li>
                        <li>sdsdsd</li>
                        <li>sdsdsd</li>
                    </ul>

                </div>
                <div class="fen"></div>
                <div>
                    <h3>风格</h3>
                    <ul>
                        <li>sdsdsd</li>
                        <li>sdsdsd</li>
                        <li>sdsdsd</li>
                    </ul>
                </div>
                <div class="fen"></div>
                <div>
                    <h3>风格</h3>
                    <ul>
                        <li>sdsdsd</li>
                        <li>sdsdsd</li>
                        <li>sdsdsd</li>
                    </ul>
                </div>
            </div>
            <div></div>
            <div class="home_list_nav_right_text">
                哇哇哇哇哇哇哇哇哇哇哇哇哇
            </div>
            <div></div>
            <div class="home_list_nav_right_text">
                谔谔谔谔谔谔谔谔谔谔谔谔谔谔
            </div>
            <div></div>
            <div class="home_list_nav_right_text">
                啊啊啊啊啊啊啊啊啊啊啊啊啊啊
            </div>
            <div></div>
            <div class="home_list_nav_right_text">
                钱钱钱钱钱钱钱钱钱钱钱钱钱钱钱钱钱钱钱
            </div>
        </div>
    </span>
</article>
<article>
    <img src="/img/1.jpg">
</article>
<article class="home_center">
    <div class="home_center_tit">
        <img src="/img/11.png">
        <img src="/img/22.jpg">
        <img src="/img/33.png">
    </div>
    <div class="home_center_end">
        <img src="/img/index_flow.png"style="width: 1220px">
    </div>
</article>
<article class="home_yu">
    <div class="home_yu_left">
        <img src="/img/erma.jpg">
    </div>
    <!--<div>-->
        <!--<img src="/img/erma.jpg">-->
        <!--<div class="center_lef_nav">-->
            <!--<div><h3>新闻中心</h3></div>-->
            <!--<div class="center_lef_ar">-->
                <!--<ul>-->
                    <!--<li>爱家20年，我与欧派的美丽邂逅</li>-->
                    <!--<li>爱家20年，我与欧派的美丽邂逅</li>-->
                    <!--<li>爱家20年，我与欧派的美丽邂逅</li>-->
                    <!--<li>爱家20年，我与欧派的美丽邂逅</li>-->
                    <!--<li>爱家20年，我与欧派的美丽邂逅</li>-->
                    <!--<li>爱家20年，我与欧派的美丽邂逅</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="home_yu_lis">-->
        <!--<div>今天优惠</div>-->
    <!--</div>-->
    <!--<div class="home_center_ma">-->
        <!--<div class="center_lef">-->
            <!--<img src="/img/erma.jpg">-->
            <!--<div class="center_lef_nav">-->
                <!--<div><h3>新闻中心</h3></div>-->
                <!--<div class="center_lef_ar">-->
                    <!--<ul>-->
                        <!--<li>爱家20年，我与欧派的美丽邂逅</li>-->
                        <!--<li>爱家20年，我与欧派的美丽邂逅</li>-->
                        <!--<li>爱家20年，我与欧派的美丽邂逅</li>-->
                        <!--<li>爱家20年，我与欧派的美丽邂逅</li>-->
                        <!--<li>爱家20年，我与欧派的美丽邂逅</li>-->
                        <!--<li>爱家20年，我与欧派的美丽邂逅</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
        <!--<div class="center_right">-->
            <!--<span>-->
                <!--今天优惠-->
            <!--</span>-->
            <!--<div class="center_right_rm">-->
                <!--<dl>-->
                    <!--<dt><img src="/img/wu.jpg"></dt>-->
                    <!--<dd>网络套餐 秋林晚枫橱柜 配送：地脚板+快装门铰+缓冲器+抽屉2个+铝扣手</dd>-->
                    <!--<dd><h1>6.5折</h1> 13844-->
                        <!--￥8999-->
                    <!--</dd>-->
                    <!--<dd>asddddddddddd</dd>-->
                <!--</dl>-->
                <!--<dl>-->
                    <!--<dt><img src="/img/wu.jpg"></dt>-->
                    <!--<dd>网络套餐 秋林晚枫橱柜 配送：地脚板+快装门铰+缓冲器+抽屉2个+铝扣手</dd>-->
                    <!--<dd><h1>6.5折</h1> 13844-->
                        <!--￥8999-->
                    <!--</dd>-->
                    <!--<dd>asddddddddddd</dd>-->
                <!--</dl>-->
                <!--<dl>-->
                    <!--<dt><img src="/img/wu.jpg"></dt>-->
                    <!--<dd>网络套餐 秋林晚枫橱柜 配送：地脚板+快装门铰+缓冲器+抽屉2个+铝扣手</dd>-->
                    <!--<dd><h1>6.5折</h1> 13844-->
                        <!--￥8999-->
                    <!--</dd>-->
                    <!--<dd>asddddddddddd</dd>-->
                <!--</dl>-->
                <!--<dl>-->
                    <!--<dt><img src="/img/wu.jpg"></dt>-->
                    <!--<dd>网络套餐 秋林晚枫橱柜 配送：地脚板+快装门铰+缓冲器+抽屉2个+铝扣手</dd>-->
                    <!--<dd><h1>6.5折</h1> 13844-->
                        <!--￥8999-->
                    <!--</dd>-->
                    <!--<dd>asddddddddddd</dd>-->
                <!--</dl>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</article>
<article class="home_jin">
    <!--<h3>-->
        <!--精选定制-->
    <!--</h3>-->
    <!--<div>-->
        <!--<a><img src="/img/xse.jpg"></a>-->
        <!--<ul>-->
            <!--<li><img src="/img/wdv.png"></li>-->
            <!--<li><img src="/img/wdv.png"></li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div>-->
        <!--<a><img src="/img/xse.jpg"></a>-->
        <!--<ul>-->
            <!--<li><img src="/img/wdv.png"></li>-->
            <!--<li><img src="/img/wdv.png"></li>-->
        <!--</ul>-->
    <!--</div>-->
</article>
<footer>
    <div class="footer_top"></div>
    <div class="footer_end"></div>
</footer>
<% include unit/footer.ejs %>
<% include unit/end.ejs %>

