<% include unit/top.ejs %>
<link rel='stylesheet' href='/stylesheets/login.css'/>
<% include unit/head.ejs %>
<header class="login_top">
    <div class="top_title">
        <a href="/">
            <img src="/img/logo.png">
        </a>
        <h3>有家·有爱·有欧派</h3>
    </div>
    <div>
    </div>
</header>
<article>
    <div class="nav_left"></div>
    <div class="nav_right">
        <div id="menu">
            <!--tag标题-->
            <ul id="nav">
                <li class="selected"><a href="#">用户登录</a></li>
                <li class="f"><a href="#">新用户注册</a></li>
            </ul>
            <!--二级菜单-->
            <div id="menu_con">
                <div class="tag" style="display: block">
                    <form  method="POST" action="/sign">
                        <div>
                            <input type="text" name="name" placeholder="手机号/邮箱地址">
                        </div>
                        <div>
                            <input type="text" name="pwd" placeholder="密码">
                        </div>
                            <button type="button" onclick="onlogin(this.form)">登录</button>
                    </form>
                    <form class="form-signin" action="/file" role="form" method="post" enctype='multipart/form-data'>
                        <h2 class="form-signin-heading">上传文件</h2>
                        <input id="fulAvatar" name="fulAvatar" type="file" class="form-control" />
                        <br/>
                        <button type="submit">上 传</button>
                    </form>
                </div>
                <div class="tag" style="display: none">
                    <form>
                        <div>
                            <input type="text" placeholder="手机号/邮箱地址">
                        </div>
                        <div>
                            <input type="text" placeholder="密码">
                        </div>
                        <div>
                            <input type="text" placeholder="重复密码">
                        </div>
                        <button>注册</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</article>
<!--<script type="text/javascript">-->
    <!--String.prototype.format = function (args) {-->
        <!--var result = this;-->
        <!--if (arguments.length > 0) {-->
            <!--if (arguments.length == 1 && typeof (args) == "object") {-->
                <!--for (var key in args) {-->
                    <!--if (args[key] != undefined) {-->
                        <!--var reg = new RegExp("({" + key + "})", "g");-->
                        <!--result = result.replace(reg, args[key]);-->
                    <!--}-->
                <!--}-->
            <!--}-->
            <!--else {-->
                <!--for (var i = 0; i < arguments.length; i++) {-->
                    <!--if (arguments[i] != undefined) {-->
                        <!--var reg = new RegExp("({)" + i + "(})", "g");-->
                        <!--result = result.replace(reg, arguments[i]);-->
                    <!--}-->
                <!--}-->
            <!--}-->
        <!--}-->
        <!--return result;-->
    <!--}-->

    <!--$(function(){-->
        <!--$('#btnSub').on('click',function(){-->
            <!--var fulAvatarVal = $('#fulAvatar').val(),-->
                    <!--errorTip = '<div id="errorTip" class="alert alert-warning">{0}</div> ';-->

            <!--$("#errorTip,#alt_warning").remove();-->

            <!--if(fulAvatarVal.length == 0)-->
            <!--{-->
                <!--$("#container").prepend(errorTip.format('请选择要上传的文件'));-->
                <!--return false;-->
            <!--}-->

            <!--var extName = fulAvatarVal.substring(fulAvatarVal.lastIndexOf('.'),fulAvatarVal.length).toLowerCase();-->

            <!--if(extName != '.png' && extName != '.jpg'){-->
                <!--$("#container").prepend(errorTip.format('只支持png和jpg格式图片'));-->
                <!--return false;-->
            <!--}-->

            <!--return true;-->
        <!--})-->
    <!--});-->

<!--</script>-->
<% include unit/footer.ejs %>
<% include unit/end.ejs %>